# {{ ansible_managed }}

server {
    listen [::]:80;
    listen      80;
    server_name {{ nginx_server_FQDN }};

    # Redirect all non-https requests
    rewrite ^ https://$host$request_uri? permanent;
}

server {
{{ _nginx_ssl_443_config  | indent(width=4,indentfirst=true) }}

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    server_name _;

{{ nginx_location_stanzas | indent(width=4,indentfirst=true)}}
}
