# {{ ansible_managed }}

server {
{{ nginx_ssl_config  | indent(width=4,indentfirst=true) }}

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    server_name {{ nginx_server_name }};

{{ nginx_location_stanzas | indent(width=4,indentfirst=true)}}
}