# {{ ansible_managed }}

{% if nginx_https_map %}
    {{ nginx_https_map | indent(0)}}
{% endif %}

server {
    server_tokens off;
{% if nginx_GNU %}
    add_header X-Clacks-Overhead "GNU Terry Pratchett";
{% endif %}

{% set _nginx_port = 443 %}
{% include 'nginx_ssl.part.j2' %}


{% if nginx_vouch_FQDN | default(false) %}
{% include 'nginx_vouch.part.j2' %}
{% endif %}

    server_name {{ nginx_conf.server_name }};

    {{ nginx_https_conf | indent(4)}}

}