# {{ ansible_managed }}

server {
    listen [::]:80;
    listen      80;
    server_name {{ nginx_server_FQDN }};
{% if nginx_GNU %}
    add_header X-Clacks-Overhead "GNU Terry Pratchett";
{% fi %}

    # Redirect all non-https requests
    rewrite ^ https://$host$request_uri? permanent;
}