# {{ ansible_managed }}

server {
{% if nginx_GNU %}
    add_header X-Clacks-Overhead "GNU Terry Pratchett";
{% fi %}

{% set _nginx_ssl_port = 443 %}
{% include 'nginx_ssl.part.j2' %}


    server_name {{ nginx_conf.server_name }};

    {{ nginx_conf.nginx_conf | indent(4)}}

}